        body {
            background-image: url("images/nss.jpg");
            background-attachment: fixed;
            color: white;
        }
        
        .blog {
            width: 60%;
            margin: 20px auto;
            padding: 0 15px;
            border: 1px solid #c6d2da;
            border-radius: 15px;
            border-color: blue;
        }
        
        .title {
            color: white;
            width: 60%;
            margin: 20px auto;
            border-bottom: solid blue;
            font-family: 'Dosis', sans-serif;
        }
        
        img {
            width="500" height="200">
        }
        /* Add a black background color to the top navigation */
        
        .topnav {
            background-color: darkblue;
            overflow: auto;
        }
        
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        /* Change the color of links on hover */
        
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
        /* Add a color to the active/current link */
        
        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }
        
        @media screen and (max-width: 800px) {
            .leftcolumn,
            .rightcolumn {
                width: 100%;
                padding: 0;
            }
        }